openapi: 3.1.0

# =============================================================================
# İmga v1 Partner API — OpenAPI (kontrata HİZALANMIŞ)
# -----------------------------------------------------------------------------
# Kaynak (normatif): imga-api-v1-contract.md v1.1 (AsakAI). Bu OpenAPI o kontrata
# UYAR; ihtilafta kontrat kazanır. 2026-07-01'de kontrata göre baştan yazıldı
# (N+0 iskeletinin tahmini envelope'u kontratın gerçek §2/§3/§4'üyle değiştirildi).
#
# Açık flag'ler (n0-response'ta bildirildi, kontrat tarafında çözülmeli):
#   * §9 processed_in "her yanıtta" derken §7 SSE meta event'i processed_in taşımıyor.
#   * Staging token öneki §8'de tanımsız (imga_live_ vs imga_staging_).
# =============================================================================

info:
  title: İmga v1 Partner API
  version: 1.1.0
  description: >
    E-ticaret dikeyi için çok-kiracılı AI analiz yüzeyi. Tüketici: AsakAI (VDD).
    Residency Hybrid (§9): PII'siz use-case outbound; PII'li (ticket-analyze,
    ticket-suggest-reply) TR zorunlu; free-analyze varsayılan TR + Accept-Residency
    ile opt-out. Auth: kiracı-başına Bearer (imga_live_...).
  x-contract-source: imga-api-v1-contract.md v1.1

servers:
  - url: https://api.imga.ai/v1
    description: Production
  - url: https://api-staging.imga.ai/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: analyze
    description: 6 use-case (§4)
  - name: health
    description: Liveness / readiness
  - name: data
    description: KVKK silme / export (§9)
  - name: admin
    description: Kiracı & token yönetimi (§8) — opsBearer

# =============================================================================
paths:

  # --------------------------- 4.1 anomaly-explain ---------------------------
  /analyze/anomaly-explain:
    post:
      tags: [analyze]
      summary: KPI sapma açıklaması + kök neden (§4.1)
      operationId: analyzeAnomalyExplain
      x-imga-residency: outbound            # §9: PII'siz → outbound
      parameters: [{ $ref: '#/components/parameters/AcceptLanguage' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context]
                  properties:
                    use_case: { const: anomaly-explain }
                    context: { $ref: '#/components/schemas/AnomalyExplainContext' }
      responses:
        '200': { $ref: '#/components/responses/AnomalyExplainResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 4.2 ticket-analyze ---------------------------
  /analyze/ticket-analyze:
    post:
      tags: [analyze]
      summary: Destek talebi duygu/kategori/aciliyet (§4.2)
      operationId: analyzeTicket
      x-imga-residency: tr                  # §9: PII var → TR zorunlu, override YOK
      parameters: [{ $ref: '#/components/parameters/AcceptLanguage' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context]
                  properties:
                    use_case: { const: ticket-analyze }
                    context: { $ref: '#/components/schemas/TicketAnalyzeContext' }
      responses:
        '200': { $ref: '#/components/responses/TicketAnalyzeResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 4.3 ticket-suggest-reply ---------------------------
  /analyze/ticket-suggest-reply:
    post:
      tags: [analyze]
      summary: Müşteri yanıt taslağı (§4.3)
      operationId: analyzeSuggestReply
      x-imga-residency: tr                  # §9: PII var → TR zorunlu, override YOK
      parameters: [{ $ref: '#/components/parameters/AcceptLanguage' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context]
                  properties:
                    use_case: { const: ticket-suggest-reply }
                    context: { $ref: '#/components/schemas/TicketSuggestReplyContext' }
      responses:
        '200': { $ref: '#/components/responses/TicketSuggestReplyResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 4.4 return-analyze ---------------------------
  /analyze/return-analyze:
    post:
      tags: [analyze]
      summary: İade örüntüleri + kök neden (§4.4)
      operationId: analyzeReturn
      x-imga-residency: outbound
      parameters: [{ $ref: '#/components/parameters/AcceptLanguage' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context]
                  properties:
                    use_case: { const: return-analyze }
                    context: { $ref: '#/components/schemas/ReturnAnalyzeContext' }
      responses:
        '200': { $ref: '#/components/responses/ReturnAnalyzeResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 4.5 cargo-optimize ---------------------------
  /analyze/cargo-optimize:
    post:
      tags: [analyze]
      summary: Kargo şirketi seçimi + gecikme öngörüsü (§4.5)
      operationId: analyzeCargoOptimize
      x-imga-residency: outbound
      parameters: [{ $ref: '#/components/parameters/AcceptLanguage' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context]
                  properties:
                    use_case: { const: cargo-optimize }
                    context: { $ref: '#/components/schemas/CargoOptimizeContext' }
      responses:
        '200': { $ref: '#/components/responses/CargoOptimizeResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 4.6 free-analyze (non-stream) ---------------------------
  /analyze/free-analyze:
    post:
      tags: [analyze]
      summary: Serbest form soru-cevap, non-stream (§4.6)
      operationId: analyzeFree
      description: '`user_prompt` ZORUNLU. Varsayılan TR; Accept-Residency: outbound-ok ile outbound (KVKK m.9 açık rıza).'
      x-imga-residency: tr-default-outbound-optin
      parameters:
        - { $ref: '#/components/parameters/AcceptLanguage' }
        - { $ref: '#/components/parameters/AcceptResidency' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context, user_prompt]
                  properties:
                    use_case: { const: free-analyze }
                    context: { $ref: '#/components/schemas/FreeAnalyzeContext' }
      responses:
        '200': { $ref: '#/components/responses/FreeAnalyzeResult' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }
        '502': { $ref: '#/components/responses/Err502' }
        '504': { $ref: '#/components/responses/Err504' }

  # --------------------------- 7. SSE (free-analyze) ---------------------------
  /analyze/free-analyze/stream-token:
    post:
      tags: [analyze]
      summary: SSE handshake — tek-kullanımlık stream token (§7 adım 1)
      operationId: freeAnalyzeStreamToken
      x-imga-residency: tr-default-outbound-optin
      parameters:
        - { $ref: '#/components/parameters/AcceptLanguage' }
        - { $ref: '#/components/parameters/AcceptResidency' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AnalyzeRequestBase'
                - type: object
                  required: [context, user_prompt]
                  properties:
                    use_case: { const: free-analyze }
                    context: { $ref: '#/components/schemas/FreeAnalyzeContext' }
      responses:
        '200':
          description: Stream token
          content:
            application/json:
              schema:
                type: object
                required: [stream_token, expires_in]
                properties:
                  stream_token: { type: string, description: 60 sn tek-kullanımlık }
                  expires_in: { type: integer, example: 60 }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }
        '429': { $ref: '#/components/responses/Err429' }

  /analyze/stream:
    get:
      tags: [analyze]
      summary: SSE akışı (§7 adım 2)
      operationId: analyzeStream
      security: []          # yetki, tek-kullanımlık stream_token ile (bearer query'de taşınmaz)
      parameters:
        - name: token
          in: query
          required: true
          description: stream-token'dan dönen tek-kullanımlık token
          schema: { type: string }
      responses:
        '200':
          description: >
            SSE. event: partial {"delta": str} · event: meta {"tokens":{...},"cost_try":num}
            · event: done {"finish_reason":str,"final_length":int}. 15 sn'de bir `: ping`.
            FLAG(§9↔§7): meta event'i processed_in TAŞIMIYOR; §9 her yanıtta ister — eklenmeli.
          content:
            text/event-stream:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Err401' }
        '404':
          description: token geçersiz/süresi dolmuş/kullanılmış

  # --------------------------- HEALTH ---------------------------
  /health:
    get:
      tags: [health]
      summary: Liveness (sığ, public)
      operationId: healthLiveness
      security: []
      responses:
        '200':
          description: Canlı
          content:
            application/json:
              schema:
                type: object
                properties:
                  service: { type: string, example: imga-api }
                  version: { type: string }

  /ready:
    get:
      tags: [health]
      summary: Readiness (DB + Redis + config + model)
      operationId: healthReadiness
      security: [{ bearerAuth: [] }]     # ayrıntılı bağımlılık dökümü authenticated (bilgi sızıntısı önlemi)
      responses:
        '200':
          description: Hazır
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: Bağımlılık hazır değil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  # --------------------------- DATA (KVKK §9) ---------------------------
  /data/{session_id}:
    delete:
      tags: [data]
      summary: Oturum verisini sil (§9) — 202, 24 saatte tamamlanır
      operationId: deleteSessionData
      parameters:
        - name: session_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202': { description: Silme kuyruğa alındı (≤24 saat) }
        '401': { $ref: '#/components/responses/Err401' }
        '404': { description: session bulunamadı }

  /data/export:
    get:
      tags: [data]
      summary: KVKK erişim — JSONL export (§9)
      operationId: exportData
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: JSONL (yalnız çağıran tenant'ın verisi)
          content:
            application/x-ndjson:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Err401' }

  # --------------------------- ADMIN (§8) — opsBearer ---------------------------
  /admin/tenants:
    post:
      tags: [admin]
      summary: Kiracı oluştur
      operationId: adminCreateTenant
      security: [{ opsBearer: [] }]   # service_account/ops; kiracı bearer'ı ASLA erişemez
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TenantCreate' }
      responses:
        '201':
          description: Oluşturuldu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tenant' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }

  /admin/tenants/{tenant_id}/usage:
    get:
      tags: [admin]
      summary: Kullanım / faturalama sayaçları
      operationId: adminTenantUsage
      security: [{ opsBearer: [] }]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Kullanım
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TenantUsage' }
        '401': { $ref: '#/components/responses/Err401' }
        '404': { description: bulunamadı }

  /admin/tenants/{tenant_id}/quota:
    post:
      tags: [admin]
      summary: Kota güncelle
      operationId: adminUpdateQuota
      security: [{ opsBearer: [] }]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuotaUpdate' }
      responses:
        '200': { description: Güncellendi }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }

  /admin/tokens:
    get:
      tags: [admin]
      summary: Tenant token listesi (hash gösterilmez)
      operationId: adminListTokens
      security: [{ opsBearer: [] }]
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Aktif tokenler
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TokenInfo' }
        '401': { $ref: '#/components/responses/Err401' }

  /admin/tokens/rotate:
    post:
      tags: [admin]
      summary: Token rotate (tek çağrı, 24s overlap) (§8.4)
      operationId: adminRotateToken
      security: [{ opsBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id]
              properties:
                tenant_id: { type: string }
                label: { type: string }
      responses:
        '200':
          description: Yeni token (plaintext YALNIZ burada)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPlaintext' }
        '400': { $ref: '#/components/responses/Err400' }
        '401': { $ref: '#/components/responses/Err401' }

  /admin/tokens/{token_id}/revoke:
    post:
      tags: [admin]
      summary: Token iptali (≤60 sn, §8.5)
      operationId: adminRevokeToken
      security: [{ opsBearer: [] }]
      parameters:
        - name: token_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: 'Revoke — ≤60 sn içinde sonraki istekler 401 (§8.5)' }
        '401': { $ref: '#/components/responses/Err401' }
        '404': { description: bulunamadı }

# =============================================================================
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Kiracı token: `Authorization: Bearer imga_live_<base64url_32>` (§8).'
    opsBearer:
      type: http
      scheme: bearer
      description: >
        VDD ops/service_account token — kiracı bearer'ından AYRI. Yalnız /admin/*.
        Kiracı (analyze) token'ı /admin/*'a ASLA erişemez (İmga güvenlik invariant'ı).

  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: 'tr-TR (varsayılan) | en-US (§1)'
      schema: { type: string, enum: [tr-TR, en-US], default: tr-TR }
    AcceptResidency:
      name: Accept-Residency
      in: header
      required: false
      description: >
        YALNIZ free-analyze'da onurlandırılır (§9). `outbound-ok` → yurt dışı LLM
        (KVKK m.9 açık rıza AsakAI tarafında). tr-only uçlarda yok sayılır; bağlayıcı
        olan operasyonun x-imga-residency değeridir.
      schema: { type: string, enum: [outbound-ok] }

  headers:
    XRateLimitRemaining:
      description: Bu dakika penceresinde kalan istek (§6)
      schema: { type: integer }
    XRateLimitReset:
      description: Pencere sıfırlama (unix ts, §6)
      schema: { type: integer }
    XQuotaTokensRemaining:
      description: Günlük token bütçesi kalanı (§6)
      schema: { type: integer }
    XQuotaReset:
      description: Günlük sıfırlama (unix ts, 00:00 Europe/Istanbul, §6)
      schema: { type: integer }

  responses:
    Err400:
      description: 'invalid_input (schema/enum/eksik alan; PII tespiti — §9)'
      content: { application/json: { schema: { $ref: '#/components/schemas/AnalyzeError' } } }
    Err401:
      description: 'auth_failed (eksik/süresi dolmuş/revoke token)'
      content: { application/json: { schema: { $ref: '#/components/schemas/AnalyzeError' } } }
    Err429:
      description: 'rate_limit veya quota_exceeded (§5/§6)'
      headers:
        Retry-After: { schema: { type: integer } }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
        X-Quota-Reset: { $ref: '#/components/headers/XQuotaReset' }
      content: { application/json: { schema: { $ref: '#/components/schemas/AnalyzeError' } } }
    Err502:
      description: 'provider_error (upstream LLM 5xx) — retry ≤3× (§5)'
      headers:
        Retry-After: { schema: { type: integer } }
      content: { application/json: { schema: { $ref: '#/components/schemas/AnalyzeError' } } }
    Err504:
      description: 'timeout (>30s non-stream / >120s stream) — retry ≤1× (§5)'
      content: { application/json: { schema: { $ref: '#/components/schemas/AnalyzeError' } } }

    # --- typed 200 sonuçları (§4) — §3 zarfı (ok + request_id + response + meta) ---
    AnomalyExplainResult:
      description: OK
      headers: &rl
        X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
        X-Quota-Tokens-Remaining: { $ref: '#/components/headers/XQuotaTokensRemaining' }
        X-Quota-Reset: { $ref: '#/components/headers/XQuotaReset' }
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/AnomalyExplainResponse' } }
    TicketAnalyzeResult:
      description: OK
      headers: *rl
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/TicketAnalyzeResponse' } }
    TicketSuggestReplyResult:
      description: OK
      headers: *rl
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/TicketSuggestReplyResponse' } }
    ReturnAnalyzeResult:
      description: OK
      headers: *rl
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/ReturnAnalyzeResponse' } }
    CargoOptimizeResult:
      description: OK
      headers: *rl
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/CargoOptimizeResponse' } }
    FreeAnalyzeResult:
      description: OK
      headers: *rl
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AnalyzeResponseBase'
              - type: object
                properties: { response: { $ref: '#/components/schemas/FreeAnalyzeResponse' } }

  schemas:

    # ---- §2 ortak request envelope (context hariç; her uç kendi context'ini ekler) ----
    AnalyzeRequestBase:
      type: object
      required: [tenant_id, use_case, period, period_start, period_end, language, client_request_id]
      properties:
        tenant_id: { type: string, example: asakai-prod }
        use_case:
          type: string
          enum: [anomaly-explain, ticket-analyze, ticket-suggest-reply, return-analyze, cargo-optimize, free-analyze]
        period: { type: string, enum: [day, week, month, custom] }
        period_start: { type: string, format: date, description: ISO-8601, TR timezone }
        period_end: { type: string, format: date, description: inclusive }
        language: { type: string, enum: [tr, en] }
        session_id: { type: string, format: uuid, description: 'çok-turlu çağrıları gruplar; DELETE /v1/data/{session_id} bunu kullanır (§9)' }
        client_request_id: { type: string, format: uuid, description: idempotency key }
        user_prompt: { type: string, description: 'free-analyze için ZORUNLU' }

    # ---- §3 ortak response zarfı (response hariç) ----
    AnalyzeResponseBase:
      type: object
      required: [ok, request_id, response, meta]
      properties:
        ok: { const: true }
        request_id: { type: string }
        response: { type: object }
        meta: { $ref: '#/components/schemas/Meta' }

    Meta:
      type: object
      required: [model, processed_in, tokens, latency_ms, cost_try, cached]
      properties:
        model:
          type: string
          description: 'PROD: opak kod (prov_a / prov_tr_1). STAGING: açık model adı.'
        processed_in:
          type: string
          enum: [tr, outbound]
          description: 'Gerçek işleme bölgesi — §9 residency tablosuyla uyuşmalı (uymazsa contract violation).'
        tokens:
          type: object
          required: [prompt, completion, total]
          properties:
            prompt: { type: integer }
            completion: { type: integer }
            total: { type: integer }
        latency_ms: { type: integer }
        cost_try: { type: number, description: 'TRY, 4 ondalık (§3)' }
        cached: { type: boolean }

    AnalyzeError:
      type: object
      required: [ok, request_id, error]
      properties:
        ok: { const: false }
        request_id: { type: string }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [invalid_input, auth_failed, rate_limit, provider_error, timeout, quota_exceeded]
            message: { type: string, description: 'Accept-Language ile yerelleştirilir' }
            details: { type: object }
            retry_after_seconds: { type: integer, description: 'rate_limit / provider_error için' }

    # ---- §4 use-case context'leri ----
    AnomalyExplainContext:
      type: object
      required: [kpi_snapshot, delta_vs_previous]
      properties:
        kpi_snapshot:
          type: array
          items: { type: object, required: [metric, value, unit], properties: { metric: {type: string}, value: {type: number}, unit: {type: string} } }
        delta_vs_previous:
          type: array
          items: { type: object, required: [metric, delta_pct, sign], properties: { metric: {type: string}, delta_pct: {type: number}, sign: {type: string, enum: [up, down]} } }
        known_events: { type: array, items: { type: string } }

    TicketAnalyzeContext:
      type: object
      required: [ticket_id, ticket_text, channel]
      properties:
        ticket_id: { type: string }
        ticket_text: { type: string }
        channel: { type: string, enum: [email, whatsapp, phone, web] }

    TicketSuggestReplyContext:
      type: object
      required: [ticket_text, tone]
      properties:
        ticket_text: { type: string }
        customer_profile: { type: object, properties: { name: {type: string}, segment: {type: string} } }
        policy_snippets: { type: array, items: { type: string } }
        tone: { type: string, enum: [resmi, samimi, özür] }

    ReturnAnalyzeContext:
      type: object
      required: [returns_list]
      properties:
        returns_list:
          type: array
          items:
            type: object
            required: [order_id, sku, reason_code, return_date, amount_try]
            properties:
              order_id: { type: string }
              sku: { type: string }
              reason_code: { type: string }
              reason_text: { type: string }
              return_date: { type: string, format: date }
              amount_try: { type: number }

    CargoOptimizeContext:
      type: object
      required: [order, cargo_history]
      properties:
        order:
          type: object
          required: [order_id, sku, destination_city, weight_kg, volume_dm3]
          properties:
            order_id: { type: string }
            sku: { type: string }
            destination_city: { type: string }
            weight_kg: { type: number }
            volume_dm3: { type: number }
        cargo_history:
          type: array
          items:
            type: object
            required: [carrier, city, avg_delivery_days, late_rate_pct]
            properties:
              carrier: { type: string }
              city: { type: string }
              avg_delivery_days: { type: number }
              late_rate_pct: { type: number }

    FreeAnalyzeContext:
      type: object
      required: [snapshot]
      properties:
        snapshot: { type: object }
        hints: { type: array, items: { type: string } }

    # ---- §4 use-case response'ları ----
    AnomalyExplainResponse:
      type: object
      required: [analysis, root_causes, actions]
      properties:
        analysis: { type: string }
        root_causes: { type: array, items: { type: string } }
        actions:
          type: array
          items: { type: object, required: [title, priority, owner_role], properties: { title: {type: string}, priority: {type: string, enum: [high, med, low]}, owner_role: {type: string} } }

    TicketAnalyzeResponse:
      type: object
      required: [sentiment, category, urgency, tags, language_detected]
      properties:
        sentiment: { type: string, enum: [positive, neutral, negative] }
        category: { type: string }
        urgency: { type: integer, enum: [1, 2, 3, 4, 5] }
        tags: { type: array, items: { type: string } }
        language_detected: { type: string }

    TicketSuggestReplyResponse:
      type: object
      required: [reply_draft, sources_used, warnings]
      properties:
        reply_draft: { type: string }
        sources_used: { type: array, items: { type: string } }
        warnings: { type: array, items: { type: string } }

    ReturnAnalyzeResponse:
      type: object
      required: [patterns, causes, recommendations]
      properties:
        patterns:
          type: array
          items: { type: object, required: [label, share_pct], properties: { label: {type: string}, share_pct: {type: number} } }
        causes:
          type: array
          items: { type: object, required: [hypothesis, evidence], properties: { hypothesis: {type: string}, evidence: {type: string} } }
        recommendations: { type: array, items: { type: string } }

    CargoOptimizeResponse:
      type: object
      required: [suggestion, delay_forecast]
      properties:
        suggestion:
          type: object
          required: [carrier, reason, est_cost_try]
          properties: { carrier: {type: string}, reason: {type: string}, est_cost_try: {type: number} }
        delay_forecast:
          type: object
          required: [p50_days, p90_days, risk_flags]
          properties: { p50_days: {type: number}, p90_days: {type: number}, risk_flags: {type: array, items: {type: string}} }

    FreeAnalyzeResponse:
      type: object
      required: [answer_markdown, follow_up_prompts]
      properties:
        answer_markdown: { type: string }
        charts_suggested:
          type: array
          items: { type: object, required: [kind, series], properties: { kind: {type: string, enum: [line, bar, pie]}, series: {type: array, items: {type: string}} } }
        follow_up_prompts: { type: array, items: { type: string } }

    # ---- health / admin (§8) ----
    Readiness:
      type: object
      properties:
        status: { type: string, enum: [ready, degraded] }
        version: { type: string }
        dependencies:
          type: object
          properties:
            postgres: { type: string, enum: [ok, fail] }
            redis: { type: string, enum: [ok, fail] }
            llm_outbound: { type: string, enum: [ok, degraded, fail] }
            llm_tr: { type: string, enum: [ok, degraded, fail, not_configured] }
            model_loaded: { type: boolean }

    TenantCreate:
      type: object
      required: [tenant_id]
      properties:
        tenant_id: { type: string, example: asakai-prod }
        label: { type: string }

    Tenant:
      type: object
      properties:
        tenant_id: { type: string }
        label: { type: string }
        created_at: { type: string, format: date-time }

    TenantUsage:
      type: object
      description: '§3.1 (brief): bu ay + son 30 gün breakdown'
      properties:
        tenant_id: { type: string }
        month:
          type: object
          properties:
            requests: { type: integer }
            tokens_in: { type: integer }
            tokens_out: { type: integer }
            cost_try: { type: number }
        by_use_case:
          type: array
          items: { type: object, properties: { use_case: {type: string}, requests: {type: integer}, cost_try: {type: number} } }

    QuotaUpdate:
      type: object
      properties:
        req_per_min: { type: integer }
        req_per_hour: { type: integer }
        tokens_per_day: { type: integer }

    TokenInfo:
      type: object
      description: hash gösterilmez
      properties:
        id: { type: string, format: uuid }
        token_prefix: { type: string, example: imga_live_ }
        label: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time }

    TokenPlaintext:
      type: object
      description: plaintext YALNIZ create/rotate yanıtında, tek sefer
      properties:
        id: { type: string, format: uuid }
        token: { type: string, example: imga_live_xxxxxxxx }
        token_prefix: { type: string, example: imga_live_ }
        scope: { type: string, enum: [tenant, service_account] }
        expires_at: { type: string, format: date-time }
